/*---------------------------------------- Colors */
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

/*---------------------------------------- Global styling */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    background-color: var(--light-gray);
}

/*---------------------------------------- Card styling */


/*---------------------------------------- Frontend Mentor Credits styling */
.attribution {
    font-family: Outfit, sans-serif;
    font-size: 15px;
    line-height: 1.25;
    text-align: center;
    color: var(--dark-blue);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}