/*---------------------------------------- Colors */
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

/*---------------------------------------- Global styling */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Outfit', sans-serif;;
    font-size: 18px;
    color: var(--white);
}

body {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*---------------------------------------- Card styling */
.card {
    background-color: var(--card-bg);
    padding: 1.1rem;
    border-radius: 0.9375rem;
    max-width: 15rem;
}

.card__image {
    max-width: 100%;
    border-radius: 0.625rem;
    margin-bottom: 1.25rem;
}

.card__header {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
}

.card__paragraph {
    color: var(--soft-blue);
    font-size: .85rem;
    margin-bottom: 1.25rem;
}

.card__information {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 1.25rem;
}

.card__price {
    display: flex;
    color: var(--cyan);
    font-size: 0.75rem;
}

.card__price > img {
    margin-right: 0.4rem;
}

.card__time-left {
    display: flex;
    color: var(--soft-blue);
    font-size: 0.75rem;
}

.card__time-left > img {
    margin-right: 0.4rem;
}

/*---------------------------------------- Frontend Mentor Credits styling */
.attribution {
    font-family: Outfit, sans-serif;
    font-size: 15px;
    line-height: 1.25;
    text-align: center;
    color: var(--white);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}

.attribution a {
    color: var(--soft-blue);
    text-decoration: none;
}