/*---------------------------------------- Colors */
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-hover: hsla(178, 100%, 50%, 0.5);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

/*---------------------------------------- Global styling */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Outfit', sans-serif;;
    font-size: 18px;
    color: var(--white);
}

body {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--cyan) !important;
    cursor: pointer;
}

/*---------------------------------------- Card styling */
.card {
    background-color: var(--card-bg);
    padding: 1.1rem;
    margin: 1.1rem;
    border-radius: 0.8rem;
    max-width: 15rem;
}

.card__image-wrapper {
    position: relative;
}


.card__image-wrapper .card__image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cyan-hover);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 0.8rem;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.card__image-wrapper:hover .card__image-overlay{
    opacity: 1;
}

.card__image {
    display: block;
    max-width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
}

.card__header {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
}

.card__paragraph {
    color: var(--soft-blue);
    font-size: .85rem;
    margin-bottom: 1.25rem;
}

.card__information {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 1.25rem;
}

.card__price {
    display: flex;
    color: var(--cyan);
    font-size: 0.75rem;
    background: url(../images/icon-ethereum.svg);
    background-repeat: no-repeat;
    padding-left: .8rem;
    background-size: .5rem;
    background-position: left center;
}

.card__time-left {
    display: flex;
    justify-self: end;
    color: var(--soft-blue);
    font-size: 0.75rem;
    background: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    padding-left: 1.15rem;
    background-size: .85rem;
    background-position: left center;
}

.card > hr {
    border: 1px solid var(--line);
    margin-bottom: 0.75rem;
}

.card__author {
    display: flex;
    margin-bottom: .25rem;
}

.card__author > img {
    border: 0.0625rem solid var(--white);
    border-radius: 1rem;
    height: 1.2rem;
    margin-right: .75rem;
}

.card__author > p {
    color: var(--soft-blue);
    font-size: 0.75rem;
    align-self: center;
}

.card__author > p > a {
    color: var(--white);
}

/*---------------------------------------- Frontend Mentor Credits styling */
.attribution {
    font-family: Outfit, sans-serif;
    font-size: 15px;
    line-height: 1.25;
    text-align: center;
    color: var(--white);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}

.attribution a {
    color: var(--soft-blue);
    text-decoration: none;
}